

<style type="text/css">
  .web{
    size:12px;
    top:10%;
    border:1px solid #CDCDCD;
    border-radius:10px;
    padding:10px;
    width:38%;
    margin:auto;
  }

  #result
  {
    position:absolute;
    width:350px;
    display:none;
    margin-top:-2px;
    border-top:0px;
    overflow:hidden;
    background-color: #f3f3f3;
  }
  .show
  {
    padding:10px;
    border-top:1px #ddd solid;
    font-size:13px;
  }
  .show:hover
  {
    background:#e7e7e7;
    color:#333;
    cursor:pointer;
  }
</style>
